body{
    background: hotpink;
}
.container{
   display: flex;
   justify-content: center;
   /* margin: auto; */
   flex-direction: column;
   padding: 20px;
}
#title{
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;
    margin: auto;
    font-size: 100px;
    color: purple;
    text-shadow: 3px 2px turquoise;
}

#countdown{
    color: turquoise
}

.card{
    margin: auto;
    /* height: 50%; */
    /* width: 25%; */
    /* flex-direction: column; */
    background: rgb(212, 58, 212);
}
a{
     margin-top: 5px;
    margin-left: 85px
}